    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Josefin Sans", sans-serif;
        font-size: 16px;
       background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        color: hsl(0, 30%, 70%);
    }

    .image-mobile{
        display: none;
    }

    
    .logo{
        position: absolute;
        top: 60px;
        left: 200px;
        width: 150px;
        height: 50px;
    }

    .container{
        height: 100vh; 
        display: flex;
        flex-direction: row;  
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    .content .content-text{
        margin: 90px 200px; 
    }

    h1{
        margin: 4rem 0 1rem;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    h1 span{
        color: hsl(0, 6%, 24%);
        font-weight: 600;
    }

    p{
        margin-top: 20px;
        line-height: 1.5;
        font-weight: 600;
    }

    .input-field{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        position: relative;
        max-width: 500px;
    }

    .input-field input{
        padding: 15px 50px 15px 40px;
        border: 1px solid hsl(0, 36%, 70%);
        border-radius: 30px;
        font-size: 0.8rem;
        font-weight: 200;
        width: 100%;
        outline: none;
    }

    input::placeholder {
        opacity: 0.5; 
    }

    .error-icon{
        display: none;
    }


    .show{ 
        display: block;
        position: absolute;
        top: 8px;
        right: 55px;
        width: 30px;
        height: 30px;
    }

    .arrow{
        position: absolute;
        top: 50%;
        right: -1px; /* controls horizontal offset */
        transform: translateY(-50%);
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        padding: 10px 15px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .arrow:hover{
        transform: translateX(5px) translateY(-50%);
    }

    .error-div {
        margin-left: 20px;
        margin-top: 10px;
        color: hsl(0, 93%, 68%);
        font-weight: 400;
        font-size: 0.8rem;
    }

    .image-desktop{
        display: block;
        flex: 1;
        height: 100vh;
    }

    .image-desktop img{
        object-fit: cover;
        height: 100%;
    }
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


    @media screen and (max-width: 1024px) {
        .container{
            margin-top: 0rem;
            display: flex;
            flex-direction: column;
        }

        .image-mobile {
            display: block;
        }

        .image-mobile img {
            width: 100%;
            height: auto;
        }

        .image-desktop {
            display: none;
        }
        .logo{
            position: relative;
            top: 0;
            left: 0;
            margin: 2rem 0 2rem 1.8rem;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .content-text{
            text-align: center;
        }
        h1{
            font-size: 3rem;
        }


}